body {
	background-image: url('../images/linen.png');
}

/*Side Nav*/
#sideNav {
	position: fixed;
	display: none;
	opacity: 0;
	right: -150px;
	top: 25%;

	height: 50%;
	width: 150px;

	text-align: center;

}

#sideNav ul {
	list-style: none;
	padding-left: 0;
}

#sideNav ul>* {
	margin-bottom: 10px;
}

#sideNav a {
	color: inherit;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.25em;
}

#sideNav img {
	width: 40px;
	border-radius: 50%;
	border: 2px solid #924444;
}

#sideNav .dot {
	color: #44925A;
}
/*End Side Nav*/

/*Front Page*/
#myName {
	display: block;
	margin: 0px auto;
}

#mainImage {
	margin: 20px auto;
	width: 700px;
}

#mainImage>#boat {
	display: block;
	margin: 0px auto;
	width: 300px;

	border-radius: 50%;
	border: 5px solid #924444;
}

#navButtons {
	margin: 10px auto;
	width: 40%;

	font-family: 'Work Sans', sans-serif;
	font-size: 1.25em;
	font-weight: bolder;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navButtons>a {
	color: inherit;
	text-decoration: none;

	width: 20%;
	text-align: center;

	border-bottom: 2px solid transparent;
}

#navButtons>a:hover {
	border-bottom: 3px solid #44925A;
	transition: 1s;
}

#navButtons>.dot {
	color: #44925A;
}
/*End Front Page*/

/*Section Common*/
.sectionTitle {
	font-family: 'Work Sans', sans-serif;
	font-size: 2em;
}
#about .sectionTitle,
#contact .sectionTitle {
	border-bottom: 3px solid #44925A;
}

#work .sectionTitle {
	border-bottom: 3px solid #924444;
}
/*End Section Common*/

/*About Section*/
#aboutContent {
	display: flex;
	justify-content: space-between;

	flex-wrap: wrap;

	width: 80%;
	margin: 0px auto;

	padding: 20px;
	
	background: white;
	border-radius: 10px;
}

#aboutContent>.column {
	width: 350px;

	border-bottom: 3px solid #924444;
}

#aboutContent h2 {
	margin: 20px 0px;
	border-bottom: 3px solid #44925A;;
	
	padding-bottom: 2px;
	font-family: 'Work Sans', sans-serif;
	font-size: 4em;
}

#aboutContent img {
	display: block;
	margin: 20px auto;

	width: 200px;
	height: 200px;
	
	border-radius: 10px;
	border: 1px solid #323232;
}

#aboutContent p {
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
}
/*End About Section*/