body {
	position: absolute;
	background-image: url('../images/linen.png');
}

/*The following pertains to the fixed Side Nav*/
#sideNav {
	position: fixed;
	display: none;
	opacity: 0;
	right: -200px;
	top: 25%;

	height: 50%;
	width: 200px;

	text-align: center;

}

#sideNav ul {
	list-style: none;
	padding-left: 0;
}

#sideNav ul>* {
	margin-bottom: 10px;
}

#sideNav a {
	color: inherit;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.25em;
}

#sideNav img {
	width: 40px;
	border-radius: 50%;
	border: 2px solid #924444;
}

#sideNav .dot {
	color: #44925A;
}
/*End Side Nav*/

/*The following pertains to the Front Page*/
#myName {
	display: block;
	margin: 0px auto;
}

#mainImage {
	margin: 20px auto;
	width: 700px;
}

#mainImage>#boat {
	display: block;
	margin: 0px auto;
	width: 300px;

	border-radius: 50%;
	border: 5px solid #924444;
}

#navButtons {
	margin: 10px auto;
	width: 40%;

	font-family: 'Work Sans', sans-serif;
	font-size: 1.25em;
	font-weight: bolder;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navButtons>a {
	color: inherit;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.25em;

	width: 20%;
	text-align: center;

	border-bottom: 2px solid transparent;
	
}

#navButtons>a:hover {
	border-bottom: 3px solid #44925A;
	transition: 1s;
}

#navButtons>.dot {
	color: #44925A;
}
/*End Front Page*/

