body {
	background-image: url('../images/linen.png');
}

/*Side Nav*/
#sideNav {
	position: fixed;
	display: none;
	opacity: 0;
	right: -150px;
	top: 25%;

	height: 50%;
	width: 150px;

	text-align: center;

}

#sideNav ul {
	list-style: none;
	padding-left: 0;
}

#sideNav ul>* {
	margin-bottom: 10px;
}

#sideNav li.active a {
	border-bottom: 2px solid #44925A;
}

#sideNav a {
	color: inherit;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.25em;
}

#sideNav img {
	width: 40px;
	border-radius: 50%;
	border: 2px solid #924444;
}

#sideNav .dot {
	color: #44925A;
}
/*End Side Nav*/

/*Front Page*/
#myName {
	display: block;
	width: 98%;
	max-width: 560px;
	min-width: 350px;
	margin: 0px auto;
}

#mainImage {
	display: block;
	margin: 20px auto;
	width: 300px;

	border-radius: 50%;
	border: 5px solid #924444;
}

#navButtons {
	margin: 10px auto;
	max-width: 500px;
	min-width: 350px;

	font-family: 'Work Sans', sans-serif;
	font-size: 1.25em;
	font-weight: bolder;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navButtons>a {
	color: inherit;
	text-decoration: none;

	width: 25%;
	text-align: center;

	border-bottom: 2px solid transparent;
	box-sizing: border-box;
}

#navButtons>a:hover {
	border-bottom: 3px solid #44925A;
	transition: 1s;
}

#navButtons>.dot {
	color: #44925A;
}
/*End Front Page*/

/*Story Section*/
#storyContent {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 75%;
	margin: 0px auto;
	padding: 20px;
	
	background: white;
	border-radius: 10px;
}

#storyContent>.column {
	width: 280px;

	border-bottom: 3px solid #924444;
}

#storyContent h2 {
	margin: 20px 0px;
	border-bottom: 3px solid #44925A;
	
	padding-bottom: 2px;
	font-family: 'Work Sans', sans-serif;
	font-size: 2em;
}

#storyContent img {
	display: block;
	margin: 20px auto;

	width: 200px;
	height: 200px;
	
	border-radius: 10px;
	border: 1px solid #323232;
}

#storyContent p {
	font-family: 'Raleway', sans-serif;
	text-indent: 2em;
}
/*End Story Section*/

/*Work Section*/
#work .row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#work .project {
	position: relative;
	width: 300px;
	height: 300px;
}

#work .project img {
	width: 100%;
	height: 100%;

	border-radius: 10px;
}

#work .project .details {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	
	box-sizing: border-box;
	padding: 7px;

	width: 100%;
	height: 100%;
	
	border-radius: 10px;
	border: 2px solid transparent;
	
	opacity: 0;
	background: white;
}

#work .project .details:hover {
opacity: 0.9;
border: 2px solid #44925A;
transition: 1s;
}

#work .project .title {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.5em;

	border-bottom: 2px solid #924444;
}

#work .project .content {
	font-family: 'Raleway', sans-serif;
}

#work .project .links a {
	font-family: 'Raleway', sans-serif;
	color: inherit;
}
/*End Work Section*/

/*Contact Section*/
#contact .contactDetails {
	width: 66%;
	min-width: 350px;
	margin: 0px auto;
	padding: 20px;

	background:white;
	border-radius: 10px;
}

#contact .contactDetails .title {
	padding-bottom: 2px;
	font-family: 'Work Sans', sans-serif;
	font-size: 2em;
	border-bottom: 3px solid #44925A;
}

#contact .contactDetails #myPicture {
	display: block;
	margin: 20px auto;
	width: 160px;

	border-radius: 50%;
}

#contact .contactDetails #myDescription {
	margin: 40px 0px;
	font-family: 'Raleway', sans-serif;
	color: inherit;
	text-align: center;
}

#contact .contactDetails .links {
	margin: 0px auto;
	width: 300px;
}

#contact .contactDetails .links .favicon {
	vertical-align: middle;
	margin-right: 20px;
}

#contact .contactDetails .links a {
	font-family: 'Raleway', sans-serif;
	color: inherit;
	text-decoration: underline;
}

/*End Contact Section*/

/*Media Queries*/
@media screen and (max-width: 1021px) {
	.project {
		margin: 10px auto;
	}
}

/*End Media Queries*/